/* Garamond Premier Pro */

/* Bold */
@font-face {
     font-family: 'Garamond Premier Pro';
     src: url('@/assets/styles/fonts/Garamond-Bold.ttf') format('truetype');
     font-weight: 700; /* Bold */
     font-style: normal;
   }
   
   /* SemiBold */
   @font-face {
     font-family: 'Garamond Premier Pro';
     src: url('@/assets/styles/fonts/Garamond-SemiBold.ttf') format('truetype');
     font-weight: 600; /* SemiBold */
     font-style: normal;
   }
   
   /* Medium */
   @font-face {
     font-family: 'Garamond Premier Pro';
     src: url('@/assets/styles/fonts/Garamond-Medium.ttf') format('truetype');
     font-weight: 500; /* Medium */
     font-style: normal;
   }
   
   /* Regular */
   @font-face {
     font-family: 'Garamond Premier Pro';
     src: url('@/assets/styles/fonts/Garamond-Regular.ttf') format('truetype');
     font-weight: 400; /* Regular */
     font-style: normal;
   }
   
   /* Thin */
   @font-face {
     font-family: 'Garamond Premier Pro';
     src: url('@/assets/styles/fonts/Garamond-VariableFont_wght.ttf') format('truetype');
     font-weight: 100; /* Thin */
     font-style: normal;
   }
   
   /* Italic */
   @font-face {
     font-family: 'Garamond Premier Pro';
     src: url('@/assets/styles/fonts/Garamond-Italic.ttf') format('truetype');
     font-weight: 400; /* Italic */
     font-style: italic;
   }
   
   /* SF Pro Display */
   
   /* Bold */
   @font-face {
     font-family: 'SF Pro Display';
     src: url('@/assets/styles/fonts/SF-Pro-Display-Bold.otf') format('truetype');
     font-weight: 700; /* Bold */
     font-style: normal;
   }
   
   /* SemiBold */
   @font-face {
     font-family: 'SF Pro Display';
     src: url('@/assets/styles/fonts/SF-Pro-Display-SemiBold.otf') format('truetype');
     font-weight: 600; /* SemiBold */
     font-style: normal;
   }
   
   /* Regular */
   @font-face {
     font-family: 'SF Pro Display';
     src: url('@/assets/styles/fonts/SF-Pro-Display-Medium.otf') format('truetype');
     font-weight: 400; /* Regular */
     font-style: normal;
   }
   
   /* Thin */
   @font-face {
     font-family: 'SF Pro Display';
     src: url('@/assets/styles/fonts/SF-Pro-Display-Thin.otf') format('truetype');
     font-weight: 100; /* Thin */
     font-style: normal;
   }
   
   /* Italic */
   @font-face {
     font-family: 'SF Pro Display';
     src: url('@/assets/styles/fonts/SF-Pro-Display-RegularItalic.otf') format('truetype');
     font-weight: 400; /* Italic */
     font-style: italic;
   }
   